<div class="stepper-container">
  <mat-vertical-stepper
    #stepper
    (selectionChange)="onStepChange($event, stepper)"
    ><form [formGroup]="myForm">
      <mat-step [completed]="false" label="Definition">
        <div class="step-content">
          <div class="description">
            <mat-error class="error">* is required </mat-error>
            <h1>Description</h1>
            <mat-form-field>
              <mat-label>Marketing Name</mat-label>
              <input matInput formControlName="marketingName" required />
              <mat-error
                *ngIf="myForm.get('marketingName')?.hasError('required')"
              >
                * is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Technical Name</mat-label>
              <input matInput formControlName="technicalName" required />
              <mat-error
                *ngIf="myForm.get('technicalName')?.hasError('required')"
              >
                * is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
            <p>Catalog promotion tutorial: Lorem ipsum...</p>
          </div>

          <div class="conditions">
            <h1>Conditions</h1>
            <mat-form-field>
              <mat-label>Portal</mat-label>
              <mat-select formControlName="portal">
                <mat-option value="chrome">Chrome</mat-option>
                <mat-option value="firefox">Firefox</mat-option>
                <mat-option value="opera">Opera</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Type</mat-label>
              <mat-select formControlName="type">
                <mat-option value="windows">Windows</mat-option>
                <mat-option value="mac">Mac</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Start Date</mat-label>
              <input
                matInput
                [matDatepicker]="startDatePicker"
                formControlName="startDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="startDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-label>End Date</mat-label>
              <input
                matInput
                [matDatepicker]="endDatePicker"
                formControlName="endDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="endDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-radio-group formControlName="pricing">
              <mat-radio-button value="business"
                >Business Conditions</mat-radio-button
              >
              <mat-radio-button value="base100"
                >Base price 100%</mat-radio-button
              >
            </mat-radio-group>

            <mat-checkbox formControlName="connectPromotions"
              >Connect with other promotions</mat-checkbox
            >
            <mat-checkbox formControlName="backPromotions"
              >Back promotions</mat-checkbox
            >
          </div>
        </div>
        <div class="step-actions">
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step [completed]="false" label="Choose products">
        <div formArrayName="products" class="step-content options-container">
          <mat-checkbox [formControlName]="0">Lorem</mat-checkbox>
          <mat-checkbox [formControlName]="1">Ipsum</mat-checkbox>
          <mat-checkbox [formControlName]="2">Sit</mat-checkbox>
          <mat-checkbox [formControlName]="3">Dolor</mat-checkbox>
          <mat-checkbox [formControlName]="4">Amet</mat-checkbox>
        </div>
        <div class="step-actions">
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step [completed]="false" label="Exclude products">
        <div
          formArrayName="excludedProducts"
          class="step-content options-container"
        >
          <mat-checkbox
            *ngFor="let productInfo of getExcludedProducts(); let i = index"
            [formControlName]="productInfo.index"
          >
            {{ productInfo.name }}
          </mat-checkbox>
        </div>
        <div class="step-actions">
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step [completed]="false" label="Bonus Products">
        <div class="step-content">
          <mat-form-field>
            <mat-label>Bonus Products</mat-label>
            <mat-select formControlName="bonusProducts">
              <mat-option *ngFor="let bonus of bonusProducts" [value]="bonus">
                {{ bonus }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="step-actions">
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step [completed]="false" label="Product Limits">
        <div class="step-content">
          <mat-radio-group
            formControlName="productLimits"
            aria-label="Select an option"
          >
            <mat-label><b>Product Limits</b></mat-label>
            <mat-radio-button value="1-50">1-50</mat-radio-button>
            <mat-radio-button value="50-100">50-100</mat-radio-button>
            <mat-radio-button value="100-150">100-150</mat-radio-button>
            <mat-radio-button value="150-200">150-200</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="step-actions">
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step [completed]="false" label="Choose Clients">
        <div formArrayName="clients" class="step-content options-container">
          <mat-checkbox [formControlName]="0">Aaron</mat-checkbox>
          <mat-checkbox [formControlName]="1">Bert</mat-checkbox>
          <mat-checkbox [formControlName]="2">Randy</mat-checkbox>
          <mat-checkbox [formControlName]="3">Emily</mat-checkbox>
          <mat-checkbox [formControlName]="4">Anne</mat-checkbox>
        </div>
        <div class="step-actions">
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step [completed]="false" label="Exclude Clients">
        <div
          formArrayName="excludedClients"
          class="step-content options-container"
        >
          <mat-checkbox
            *ngFor="let clientInfo of getExcludedClients(); let i = index"
            [formControlName]="clientInfo.index"
          >
            {{ clientInfo.name }}
          </mat-checkbox>
        </div>
        <div class="step-actions">
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step [completed]="false" label="Clients Limits">
        <div class="step-content">
          <mat-radio-group
            formControlName="clientsLimits"
            aria-label="Select an option"
          >
            <mat-label><b>Clients Limits</b></mat-label>
            <mat-radio-button value="Number of Choosed Clients"
              >Number of Choosed Clients</mat-radio-button
            >
            <mat-radio-button value="More">More</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="step-actions">
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step [completed]="false" label="Summary">
        <div class="summary" *ngIf="myForm.valid">
          <h1>Summary</h1>
          <p>
            <strong>Marketing Name: </strong>{{ myForm.value.marketingName }}
          </p>
          <p>
            <strong>Technical Name: </strong>{{ myForm.value.technicalName }}
          </p>
          <p><strong>Description: </strong>{{ myForm.value.description }}</p>

          <p><strong>Portal: </strong>{{ myForm.value.portal }}</p>
          <p><strong>Type: </strong>{{ myForm.value.type }}</p>
          <p>
            <strong>Start Date: </strong>{{ myForm.value.startDate | date }}
          </p>
          <p><strong>End Date: </strong>{{ myForm.value.endDate | date }}</p>
          <p><strong>Pricing: </strong>{{ myForm.value.pricing }}</p>
          <p>
            <strong>Connect with other promotions: </strong
            >{{ myForm.value.connectPromotions ? "Yes" : "No" }}
          </p>
          <p>
            <strong>Back promotions: </strong
            >{{ myForm.value.backPromotions ? "Yes" : "No" }}
          </p>
        </div>

        <strong>Selected Products</strong>
        <ul>
          <li *ngFor="let product of getSelectedProducts()">{{ product }}</li>
        </ul>
        <strong>Excluded Products</strong>
        <ul>
          <li *ngFor="let product of getExcludedSelectedProducts()">
            {{ product }}
          </li>
        </ul>
        <p><strong>Bonus Products: </strong>{{ myForm.value.bonusProducts }}</p>

        <p><strong>Product Limits: </strong>{{ myForm.value.productLimits }}</p>

        <strong>Selected Clients: </strong>
        <ul>
          <li *ngFor="let client of getSelectedClients()">{{ client }}</li>
        </ul>
        <strong>Excluded Clients: </strong>
        <ul>
          <li *ngFor="let client of getExcludedSelectedClients()">
            {{ client }}
          </li>
        </ul>
        <p><strong>Clients Limits: </strong>{{ myForm.value.clientsLimits }}</p>
        <button mat-raised-button color="primary" (click)="submitForm()">
          Submit
        </button></mat-step
      >
    </form>
  </mat-vertical-stepper>
</div>
