.step-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  .description,
  .conditions {
    flex: 1;
  }
}

.step-actions {
  margin-top: 20px;
}

.stepper-container {
  display: flex;
  flex-direction: column;
}

.options-container {
  flex-direction: column;
}

mat-horizontal-stepper {
  flex: 0 0 auto;
  width: 200px;
  margin-right: 20px;
}

.form-content {
  flex: 1;
}

.mat-step-header-editable .mat-step-icon-content {
  background: none !important;
  color: currentColor;
}

.mat-step-header-editable .mat-step-icon-content .mat-icon {
  display: none;
}
